<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/favicon.png" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
  <form name="report" netlify netlify-honeypot="bot-field" hidden>
    <textarea name="reason"></textarea>
    <input type="hidden" name="id" />
    <input type="hidden" name="type" />
    <input type="hidden" name="reporterEmail" />
  </form>
  <div id="redwood-app">
    <!-- Please keep the line below for prerender support. -->
    <%= prerenderPlaceholder %>
  </div>
</body>

</html>
